@model Asgard.Models.OrderDetail
<link href="~/css/mainmenu.css" rel="stylesheet" />
@{
    ViewBag.Title = "Create";
}

<h2  class="Mainmenu" style="color: #ffc44a; text-align: center;">Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4  class="submenu">Adding a new beer</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.OrderID, "Order",  htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">                
                  @Html.EditorFor(model => model.OrderID, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.OrderID,  placeholder = $"{ ViewBag.OrderID }", @disabled = "true" } })
                @Html.ValidationMessageFor(model => model.OrderID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BeerID, "BeerID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BeerID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BeerID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" id="mainbtn" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Details", new { id = ViewBag.OrderID} )
</div>
