@model Asgard.Models.OrderDetail
<link href="~/css/mainmenu.css" rel="stylesheet" />
@{
    ViewBag.Title = "Delete";
}

<h2 class="Mainmenu" style="color: #ffc44a">Delete</h2>

<h4>Are you sure you want to delete this?</h4>
<div>
    <h4>Order Detail</h4>
    <hr />

    <dl class="form-group">
        <dt>
            @Html.DisplayNameFor(model => model.Order.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div>
                <input type="submit" value="Delete" class="btn btn-default" id="mainbtn" />


            </div>


        </div>
    }
    @Html.ActionLink("Back to List", "Details")
</div>