@model IEnumerable<Asgard.Models.Beer>
<link href="~/css/beers.css" rel="stylesheet" />

<table class="table table-responsive" align="center" >
@foreach (var item in Model) {
    <tr>
        <td class="image" align="center">
            <img src="@Url.Content(item.Image)" height="300" position="center" />
        </td>
        <td class="beer-properties">
            
            <p style="font-size:18px; font-weight: bold;"> @Html.DisplayFor(modelItem => item.Name)</p>
            <p><div>Brand:</div> @Html.DisplayFor(modelItem => item.Brand)</p>
            <p><div>Color:</div> @Html.DisplayFor(modelItem => item.Type)</p>
            <p><div>Country:</div> @Html.DisplayFor(modelItem => item.Country)</p>
            <p><div>ABV:</div> @Html.DisplayFor(modelItem => item.ABV)</p>
            <p><div>Price:</div> $@Html.DisplayFor(modelItem => item.Price)</p>
        </td>
    </tr>
}

</table>
