@model IEnumerable<Asgard.Models.Beer>


<table class="table">
@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Url.Content(item.Image)" width="100" height="200" alt="Alternate Text" />
        </td>
        <td>
            <p>Name: @Html.DisplayFor(modelItem => item.Name)</p>
            <p>Brand: @Html.DisplayFor(modelItem => item.Brand)</p>
            <p>Type: @Html.DisplayFor(modelItem => item.Type)</p>
            <p>Country: @Html.DisplayFor(modelItem => item.Country)</p>
            <p>ABV: @Html.DisplayFor(modelItem => item.ABV)</p>
            <p>Price: $@Html.DisplayFor(modelItem => item.Price)</p>
        </td>
    </tr>
}

</table>
